[Unit]
Description=Kiwi IRC webircgateway
After=network.target

[Service]
User=kiwiirc
Group=kiwiirc
ExecStart=/usr/bin/webircgateway --config=/etc/kiwiirc/config.conf
ExecReload=/usr/bin/kill -HUP $MAINPID
WorkingDirectory=/usr/local/kiwiirc/
RuntimeDirectory=kiwiirc
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
